services:
  - type: static_site
    name: asr-portfolio
    branch: main
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
